.container {
  padding: 2rem 3rem;
  font-family: "Montserrat", sans-serif;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0;
}

.details {
  display: flex;
  flex: 3;
  font-weight: 700;
  align-items: flex-start;
  justify-content: flex-start;
}

.details div:last-child {
  margin-left: 0.5rem;
  margin-top: -4px;
}

.details p:first-child {
  font-size: 1.2rem;
}

.details p:last-child {
  color: #9e9ea0;
}

.options {
  display: flex;
  justify-content: space-between;
  flex: 3;
  text-align: center;
}

.icon {
  cursor: pointer;
}
