.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13173a;
}

.single:last-child {
  position: relative;
}

.single:last-child .contents {
  position: absolute;
  color: #fff;
  top: 45%;
  left: 7rem;
  font-size: 3rem;
  width: 50%;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.others {
  color: #c24caa;
  font-weight: bolder;
}

.btn {
  background-image: linear-gradient(to right, #585bc8, #8b6dcf);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  color: white;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.span {
  color: red;
  font-size: 10px;
  display: block;
  margin-top: 10px;
}
